[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
boto3 = "~=1.9.246"
kubernetes = "~=10.0.1"
python-dotenv = "~=0.10.2"

[requires]
python_version = "3.7"
